---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      AITAS is building automated, intelligent cell-based component microfactories across the Baltic States 
      to accelerate the development of European Defense Manufacturers.
      </span>
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      Our method reduces the price of drones, jets and space systems.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      How -- We are partnered with both Industrial Additive Manufacturing and Automated Robotics companies that bring our microfactories to life.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        Why -- We're democratically aligned from head to toe. We believe that the advancement of defense manufacturing in Europe will be the key advantange to preserving our freedoms over the coming years.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="4000"
      >
        When -- Our lead time, production speed and quality make us special. The faster you are, the faster we can win.
      </p>
    </div>
  </div>

</section>
