---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      AITAS is building automated, intelligent component production facilities across the Baltic States 
      to accelerate the development of European Defense Manufacturer's products. 
      </span>
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      This effectively reduces the price of drones, jets and space systems.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      How -- Partnering within the defense industry allows us to design and create highly automated, precision facilities that will advance European manufacturing into a new age of industry.

      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        Why -- We're democratically aligned from hard hat to boot. We believe that advancement of defense manufacturing we'll be the key advantange to preserving our freedoms over the coming years.
      </p>
    </div>
  </div>

</section>
