---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      AITAS is building automated, intelligent component production facilities across the Baltic States 
      to accelerate the development of European Defense Manufacturer's products. 
      </span>
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      This effectively reduces the price of drones, jets and space systems.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
      Partnering with other defense startups allows us to design and create highly automated, precision facilities that will advance European manufacturing into a new age of industry.

      </p>
      <!-- <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        My singular focus on your project ensures efficient and effective
        results, delivering a stunning website tailored to your specific
        business needs and goals. Trust on my expertise allows to craft anything
        that will help you stand out and convert visitors into customers.
      </p> -->
    </div>
  </div>

</section>
